.actionButton {
  position: fixed;
  left: 80px;
  top: 40px;
  height: 55px;
  width: 55px;
}

.actionButton a {
  border: none;
  font-size: 22px;
  transition: all .2s;
  line-height: 66px;
  text-align: center;
  background: #efefef;
  font-weight: bold;
  box-sizing: border-box;
  color: #000;
  height: inherit;
  display: block;
  width: inherit;
  border-radius: 100%;
  font-family: 'Courier New',serif;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.actionButton a:hover {
  background: #e3e3e3;
  transform: scale(1.1);
}

@media (max-width: 980px) {
  .actionButton {
    display: none;
  }
}
